body {
    font-size: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: rgb(27, 27, 27);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

.header-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #1F2937;
    color: #EBCD50;
    width: 80%;
    height: 2.8em;
    min-width: fit-content;
}

.header-logo {
    flex: 1 0 auto;
    font-size: 1.5em;
    margin: 0 25px 6px 100px;
}

.header-menu {
    flex: 1 1 .1;
    display: flex;
    flex-flow: row nowrap;
    font-size: small;
    gap: 30px;
    margin: 0 100px 6px 25px;
    padding: 6px 0 0 0;
}

.intro {
    display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   background-color: #1F2937;
   width: 80%;
}